@use '../util/' as *;

*,*::before,*::after{
    box-sizing: border-box;
}
body, html{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    background-color:var(--black);
}
li{
    list-style: none
    
}
a{text-decoration: none;}

.desktop-padding{
    padding: .5rem 4rem;
}
.hide-for-desktop{
    @include breakpoint-up(medium){
        display: none;
    }
}
.hide-for-mobile{
    @include breakpoint-down(small){
        display: none;
    }
}

